.footer {
    color: #171717;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social {
    width: 100px;
    display: flex;
    justify-content: space-around;
  }
  
  .text--footer {
    letter-spacing: 1px;
    font-weight: light;
    font-size: 12px;
  }
  
  .icons {
    font-size: 15px;
    color: #171717;
    transition: 0.7s;
  }  
  .icons:hover{
    color: #DA0037;
  }
